body {
    padding: 0px;
    margin: 0px;
    font: 75% / 150% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
}

ul {
    padding-bottom: 20px;
    padding-left: 20px;
}

#header {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    background-color: #BFE48B;
    padding-left: 20px;
}

#header .home {
    float: left;
    background: url(../images/rnse.png) center left no-repeat;
    padding: 20px 0px 20px 65px;
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #1C5C78;
}

.headerLogo {
    float: right;
    padding: 0px 5px;
}

#picContainer {
    position: relative;
    float: left;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid #ccc;
    margin-right: 5px;
    z-index: 10;
}

#picContainer img {
    position: absolute;
    display: none;
    z-index: 1;
    width: 500px;
    height: 500px;
}

#scale {
    position: relative;
    float: left;
    width: 25px;
    height: 234px;
    border: 1px solid #000;
    background: url(../images/scale.gif) top left no-repeat;
}

#backgroundOverlay {
    position: absolute;
    z-index: 3;
}

#roadsOverlay, #riversOverlay, #townsOverlay, #dateOverlay, #specialOverlay, #shadowOverlay, #mapFrame {
    position: absolute;
    z-index: 5;
}

#mapFrame {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
    z-index: 20;
    overflow: hidden;
}

.specialRadarOverlay {
    position: absolute;
    z-index: 3;
    cursor: default;
    /*border:1px solid red;*/
}

.zoom {
    cursor: url(../images/zoom.png), pointer;
}

#zoomControls {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    padding: 3px;
    z-index: 30;
}

.zoomIn {
    float: left;
    background: url(../images/zoom_in.png) center center no-repeat;
    width: 20px;
    height: 16px;
    display: block;
}

.zoomIn:hover, .zoomOut:hover {
    background-color: #ccc;
    cursor: pointer;
}

.zoomOut {
    float: left;
    background: url(../images/zoom_out.png) center center no-repeat;
    width: 20px;
    height: 16px;
    display: block;
}

.specialRadarOverlay img {
    position: absolute;
    display: none;
    z-index: 1;
}

#specialRadarOverlay1 {
    width: 285px;
    height: 285px;
    left: 118px;
    top: 5px;
}

#specialRadarOverlay2 {
    width: 285px;
    height: 285px;
    left: 18px;
    top: 207px;
}

#specialRadarOverlay3 {
    width: 172px;
    height: 172px;
    left: 190px;
    top: 256px;
}

#dateOverlay {
    display: none;
}

#dateOverlay, #picIndex {
    z-index: 100 !important;
    background: rgba(255, 255, 255, 0.8);
    padding: 3px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

#terrainOverlay {
    position: absolute;
    z-index: 4;
}

#footer {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    background-color: #BFE48B;
}

#footer a {
    text-decoration: none;
    float: right;
    margin-right: 10px;
    padding: 3px 0px;
}

.footerText {
    float: right;
    padding-top: 20px;
    font-size: 10px;
}

#button_help {
    background: url(../images/help.png) center left no-repeat;
}

#button_previous, .button_previous {
    background: url(../images/control_start.png) center left no-repeat;
}

#button_previous:hover {
    background: url(../images/control_start_blue.png) center left no-repeat;
}

#button_stop, .button_stop {
    display: none;
    background: url(../images/control_pause.png) center left no-repeat;
}

#button_stop:hover {
    background: url(../images/control_pause_blue.png) center left no-repeat;
}

#button_play, .button_play {
    background: url(../images/control_play.png) center left no-repeat;
}

#button_play:hover {
    background: url(../images/control_play_blue.png) center left no-repeat;
}

#button_next, .button_next {
    background: url(../images/control_end.png) center left no-repeat;
}

#button_next:hover {
    background: url(../images/control_end_blue.png) center left no-repeat;
}

#button_slower, .button_slower {
    display: none;
    background: url(../images/control_rewind.png) center left no-repeat;
}

#button_slower:hover {
    background: url(../images/control_rewind_blue.png) center left no-repeat;
}

#button_faster, .button_faster {
    display: none;
    background: url(../images/control_fastforward.png) center left no-repeat;
}

#button_faster:hover {
    background: url(../images/control_fastforward_blue.png) center left no-repeat;
}

#controls, #additionalControls {
    float: left;
    padding: 5px 0px;
}

#additionalControls label {
    float: left;
    font-size: 10px;
    line-height: 20px;
}

#additionalControls input {
    float: left;
}

#picIndex {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

#scaleTextTop {
    top: 0;
    left: 28px;
}

#scaleTextBottom {
    bottom: 0;
    left: 28px;
}

#radarElementContainer {
    float: left;
    margin: 15px;
    background: #eee;
}

#radarElements {
    position: relative;
    width: 555px;
    margin: 15px;
}

.scaleText {
    position: absolute;
    left: 50px;
    font-size: 10px;
}

.button_control {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0px 5px 0px 0px;
    display: block;
    cursor: pointer;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 0px auto;
}

.listfolder {
    list-style-type: none;
}

.advertisement {
    height: auto;
    margin-right: auto;
    text-align: center;
}

.advertisement div.float {
    float: left;
    padding: 5px;
}

.advertisement div.float p {
    text-align: center;
}

.advertisement div.spacer {
    clear: both;
}

.nowcasting {
    padding: 10px;
}

.ad_image {
    width: 75px;
}

.forecast_image {
    width: 200px;
    border: 1px solid #000;
    background: #fff;
}

.error, .errorfield {
    background: url(../images/exclamation.png) no-repeat scroll 5px 4px #FFDBD3;
    border: 1px dashed #A14940;
    padding: 3px 3px 3px 25px !important;
}

.messageBox, .info, .warning, .warningfield, .error, .errorfield, .accepted {
    min-height: 18px;
}

/* column container */
#colmask {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #D6E3D6;
    border-bottom: 2px solid #999;
}

#colmid {
    float: left;
    width: 200%;
    position: relative;
    left: 200px;
    background: #fff;
    border-left: 2px solid #999;
}

#col1 a {
    color: #3E7E3D;
}

#colright {
    float: left;
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -400px;
    background: #D6E3D6;
    border-left: 2px solid #999;
}

#col1wrap {
    float: right;
    width: 50%;
    position: relative;
    right: 100%;
}

#col1pad {
    margin: 0 15px 0 415px;
    overflow: hidden;
}

#col1 {
    width: 100%;
    overflow: hidden;
    padding-top: 15px;
}

#col1 ul {
    list-style-type: square inside none;
}

#col2 {
    float: left;
    width: 170px;
    position: relative;
    margin-left: -50%;
    left: 215px;
    overflow: hidden;
    padding-top: 15px;
}

#col3 {
    float: left;
    width: 170px;
    position: relative;
    left: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.hidden {
    display: none;
}

.justify {
    text-align: justify;
}

/** toolTip **/
#simpleTooltip_box {
    position: absolute;
    padding: 10px;
    display: none;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background: #fff;
    border: 1px solid #aaa;
    font-size: 10px;
    font-weight: normal;
    max-width: 35%;
    height: auto;
    -moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 9876543;
}

.simpleTooltip_arrow {
    position: absolute;
    bottom: -9px;
    left: 19px;
    width: 14px;
    height: 9px;
    background: url(../images/simpleTooltip_box_arrow_shadow.png) top left no-repeat;
}

.simpleTooltip_arrowUpper {
    display: none;
    position: absolute;
    top: -7px;
    left: 19px;
    width: 14px;
    height: 9px;
    background: url(../images/simpleTooltip_box_arrowUpper.png) top left no-repeat;
}

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../images/fancybox/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
    visibility: hidden;
    font: normal 13px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
